<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template 4</title>
    <link rel="stylesheet" href="./template4.css">
</head>
<body>
    
    <div class="container">

        <div class="header">
            <h1 id="name">{{firstname}} {{middlename}} {{lastname}}</h1><hr>
            <div class="contact">
                <p id="address">{{address_1}}, {{address_2}}</p>
                <p id="mobile">{{mobile}}</p>
            </div>
            <div class="social">
                <p id="mail">{{email}}</p>
                <p id="github">{{github}}</p>
                <p id="linkedin">{{linkedin}}</p>
            </div>
        </div>

        <div class="summary">
            <h3 class="title">SUMMARY</h3><hr>
            <p>{{summary}}</p>
        </div>

        {% if (skill_names|length) > 0 %}
        <div class="skills">
            <h3 class="title">SKILLS</h3><hr>
            <ul>
                {% for i in range(skill_names|length) %}
                <li id="skill">{{skill_names[i]}}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        {% if (cities_exp|length) > 0 %}
        <div class="experience">
            <h3 class="title">EXPERIENCE</h3><hr>
            {% for i in range(cities_exp|length) %}
            <div class="details">
                <p id="loc">{{cities_exp[i]}}, {{countries_exp[i]}}</p>
                <p id="company">{{companies[i]}}</p>
                <p id="dates">{{start_dates_exp[i]}} - {{end_dates_exp[i]}}</p>
                <p id="jobtitle">{{job_titles[i]}}</p>
            </div>
            {% endfor %}
        </div>
        {% endif %}

        {% if (degrees|length) > 0 %}
        <div class="education">
            <h3 class="title">EDUCATION</h3><hr>
            <ul>
                {% for i in range(degrees|length) %}
                <li id="data">
                    {{degrees[i]}}, {{fields_of_study[i]}}, {{institute_names[i]}}, {{start_dates_exp[i]}} - {{end_dates_exp[i]}}
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        {% if (start_dates_proj|length) > 0 %}
        <div class="projects">
            <h3 class="title">PROJECTS</h3><hr>
            <ul>
                {% for i in range(start_dates_proj|length) %}
                <li class="project">
                    <p id="dates">{{start_dates_proj[i]}} - {{end_dates_proj[i]}}</p>
                    <p id="proj_title">{{project_title[i]}}</p>
                    <p id="descp">{{description_proj[i]}}</p>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        {% if (honor_titles|length) > 0 %}
        <div class="awards">
            <h3 class="title">HONORS AND AWARDS</h3><hr>
            <ul>
                {% for i in range(honor_titles|length) %}
                <li id="data">
                    <p>{{honor_titles[i]}}</p>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        {% if (paper_titles|length) > 0 %}
        <div class="publications">
            <h3 class="title">PUBLICATIONS</h3><hr>
            <ol>
                {% for i in range(paper_titles|length) %}
                <li id="data">
                    <p>{{paper_titles[i]}}, {{published_on_dates[i]}}</p>
                </li>
                {% endif %}
            </ol>
        </div>
        {% endif %}

    </div>

</body>
</html>