<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template8</title>
    <link rel="stylesheet" href="../css/template8.css">
    <link rel="stylesheet" href="../../css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <div class="container">
        <div class="name">
            <h2>{{firstname}} {{middlename}} {{lastname}}</h2>
        </div>
        <div class="mail">
            <span>
                <i class="fa fa-envelope"></i>
                {{mail}}
            </span>
            <span>
                &nbsp; &nbsp;&nbsp;&nbsp;
                <i class="fa fa-twitter"></i>
                {{twitter}}
            </span>
        </div>
        <div class="picture">
            {{profile_picture}}
        </div>
        <div class="website">
            <i class="fa fa-globe"></i>
            {{website}}
        </div>
        <div class="linkedin">
            <i class="fa fa-linkedin-square"></i>
            {{linkedin}}
        </div>
        <br>
        {% if (cities_exp|length) > 0 %}
        <div class="Experience">
            <div class="row header">
                <h3>Employment History</h3>
            </div>
            <hr class="line">
            {% for i in range(cities_exp|length) %}
            <div class="row">
                <span>{{start_dates_exp[i]}} - {{end_dates_exp[i]}}</span>
                &nbsp;&nbsp;&nbsp;
                <i class="fa fa-bookmark"></i> &nbsp;&nbsp;&nbsp;
                <span><b>{{job_titles[i]}},</b>{{companies[i]}} {{cities_exp[i]}} {{countries_exp[i]}}</span>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        <br>
        {% if (degrees|length) > 0 %}
        <div class="education">
            <div class="row header">
                <h3>Education</h3>
            </div>
            <hr class="line">
            {% for i in range(degrees|length) %}
            <div class="row">
                <span>{{start_dates[i]}} - {{end_dates[i]}}</span>
                &nbsp;&nbsp;&nbsp
                <i class="fa fa-bookmark"></i> &nbsp;&nbsp;&nbsp;
                <span><b>{{degrees[i]}}{{fields_of_study[i]}},{{institute_names}} </b></span>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        <br>
        {% if (paper_titles|length) > 0 %}
        <div class="research">
            <div class="row header">
                <h3>Research Publications</h3>
            </div>
            <hr class="line">
            <div class="row">
                {% for i in range(paper_titles|length) %}
                <div>
                    <ol>
                        <li>
                            {{paper_titles[i]}} {{publications[i]}} ({{published_on_dates[i]}})
                        </li>
                    </ol>
                </div>
                {% endfor %}                
            </div>
        </div>
        {% endif %}
        <br>
        {% if (skill_names|length) > 0 %}
        <div class="skills">
            <div class="row header">
                <h3> Skills </h3>
            </div>
            <hr class="line">
            <span class="icon5">
                <i class="fa fa-bookmark"></i>
                &nbsp;&nbsp;&nbsp;
                {% for i in range(skill_names|length) %}
                <p>{{skill_names[i]}}</p><span>,&nbsp;</span>
                {% endfor %}
            </span>
        </div>
        {% endif %}
        <br>
        <div class="MixedExperience">
            <div class="row header">
                <h3>Miscallenous Experience</h3>
            </div>
            <hr class="line">
            {% if (honor_titles|length) > 0 %}
            <div>
                <h3>Awards and Achievements</h3>
            </div>
            {% for i in range(honor_titles|length) %}
            <div>
                <span>{{honor_issued_dates[i]}}</span>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span> <i class="fa fa-bookmark"></i>&nbsp;&nbsp;&nbsp; <b>
                        {{honor_titles[i]}}</b> {{honor_issuers[i]}}</span>
            </div>
            {% endfor %}
            {% endif %}
            {% if (course_names|length) > 0 %}
            <div>
                <h3>Certification</h3>
            </div>
            {% for i in range(course_names|length) %}
            <div class="certification">
                <span>{{issues_on_dates[i]}}</span>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span> <i class="fa fa-bookmark"></i>&nbsp;&nbsp;&nbsp; <b>Certified
                        {{course_names[i]}}</b> Awarded by {{issuers[i]}}</span>
            </div>
            {% endfor %}
            {% endif %}
        </div>
        <br>
        
    </div>
</body>

</html>