<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Template 6</title>
    <link rel="stylesheet" href="../css/template6.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../css/font-awesome.min.css" />
  </head>
  <body>
    <div class="header">
      <h1>
        {{firstname}} <span class="bold">{{middlename}} {{lastname}}</span>
      </h1>
      <h3>{{headline}}</h3>
    </div>

    <div class="container">

      <div class="informations">
        <i class="fa fa-map-marker" aria-hidden="true"> </i>
        <p class="location">{{cities[i]}}, {{countries[i]}}</p>
        <i class="fa fa-envelope-o" aria-hidden="true"></i>
        <p id="email">{{email}}</p>
        <i class="fa fa-home" aria-hidden="true"></i>
        <p class="website">{{website}}</p>
      </div>

      <div class="description">
        <p class="descp">{{summary}}</p>
      </div>

      {% if (cities_exp|length) > 0 %}
      <div class="experience">
        <h2 class="title"><span>Exp</span>erience</h2>
        <ul>
          {% for i in range(cities_exp|length) %}
          <li>
            <div class="title-exp">
              <h4 class="jtitle">
                {{job_titles[i]}}<span class="cname">, {{companies[i]}}, </span
                ><span class="location"
                  >{{cities_exp[i]}}, {{countries_exp[i]}}</span
                >
              </h4>
              <p class="dates">{{start_dates_exp[i]}} - {{end_dates_exp[i]}}</p>
            </div>
            <p class="descp">{{description[i]}}</p>
          </li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}

      {% if (start_dates_proj|length) > 0 %}
      <div class="project">
        <h2 class="title"><span>Pro</span>jects</h2>
        <ul>
          {% for i in range(start_dates_proj|length) %}
          <li>
            <div class="title-prj">
              <h4 class="ptitle">{{project_title[i]}}</h4>
              <p class="descp">, {{description_proj[i]}}</p>
            </div>
            <p class="dates">{{start_dates_proj[i]}} - {{end_dates_proj[i]}}</p>
          </li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}

      {% if (degrees|length) > 0 %}
      <div class="education">
        <h2 class="title"><span>Edu</span>cation</h2>
        <ul>
          {% for i in range(degrees|length) %}
          <li>
            <div class="title-edu">
              <h4 class="degree">{{degrees[i]}}</h4>
              <p class="add-info">
                , {{fields_of_study[i]}}, {{institute_names[i]}},
                {{countries[i]}}
              </p>
            </div>
            <p class="dates">{{end_dates[i]}}</p>
          </li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}

      {% if (paper_titles|length) > 0 %}
      <div class="publication">
        <h2 class="title"><span>Pub</span>lication</h2>
        {% for i in range(paper_titles|length) %}
        <p>{{publications[i]}}</p>
        {% endif %}
      </div>
      {% endif %}

    </div>

    <footer>
      <p class="name">{{firstname}} {{middlename}} {{lastname}}'s Resume,</p>
      <i class="fa fa-envelope-o" aria-hidden="true"></i>
      <p id="email">{{email}}</p>
    </footer>
  </body>
</html>
