<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template3</title>
    <link rel="stylesheet" href="./template3.css">
</head>
<body>
    <div class="container">

        <div class="header">
            <p id="email">Email : {{email}}</p>
            <h3>{{firstname}} {{middlename}} {{lastname}}</h3>
            <p id="mobile">Mobile : {{mobile}}</p>
            <p>{{website}}</p>            
        </div>

        <div class="education">
            <p class="title">EDUCATION</p><hr>
            <ul>
                <li>
                    <p class="location">{{city}}, {{country}}</p>
                    <h4 class="institute">{{institute}}</h4>
                    <p class="dates"><i>{{sdate}} - {{edate}}</i></p>
                    <p class="degree"><i>{{degree}}, {{fos}}; GPA/&percnt; : {{gradeval}}</i></p>                    
                </li>
            </ul>
        </div>

        <div class="experience">
            <p class="title">EXPERIENCE</p><hr>
            <ul>
                <li>
                    <p class="location">{{city}}, {{country}}</p>
                    <h4 class="cname">{{cname}}</h4>
                    <p class="dates"><i>{{sdate}} - {{edate}}</i></p>
                    <p class="jtitle"><i>{{jtitle}}</i></p>                    
                    <p class="descp">{{description}}</p>
                </li>
            </ul>
        </div>

        <div class="project">
            <p class="title">PROJECTS</p><hr>
            <ul>
                <li>
                    <h4>{{ptitle}}</h4>
                    <p class="descp">{{description}}</p>
                </li>
            </ul>
        </div>

        <div class="skills">
            <p class="title">SKILLS</p><hr>
            <ul>
                <li>
                    {{skills}}
                </li>
            </ul>
        </div>

    </div>
</body>
</html>