@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300&display=swap');

/* Global Settings */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.bg {
  background: url("../images/background.jpg") fixed center;
  background-size: cover;
}

.container{
  /*border:1px solid white;*/
  width: 800px;
  height: 600px;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  display: inline-flex; 
}

.back{  
  background: linear-gradient(to right, #355c7d, #6c5b7b, #c06c84);
  width: 100%;
  height: 80%;
  position: absolute;
  transform: translate(0,-50%);
  top:50%;
  display: inline-flex;
  border-radius: 15px;
  opacity: 0.8;
}

.front{
  background: linear-gradient(to right, #616161, #9bc5c3);
  border-radius: 20px;
  height: 100%;
  width: 50%;
  z-index: 10;
  position: absolute;
  right:0;
  margin-right: 3%;
  margin-left: 3%;
  transition: right .8s ease-in-out;
}

/*Back box styling*/

.signupmsg, .loginmsg{
  width: 50%;
  height: 100%;
  box-sizing: border-box;
}

.loginmsg .title,
.signupmsg .title{
  font-weight: 400;
  font-size: 30px;
  margin-bottom: 30px;
}

.loginmsg p,
.signupmsg p {
  font-weight: 100;
}

.text{
  color:white;
  margin-top:65px;
  margin-left: 12%;
}

.subtitle {
  margin-bottom: 80px;
}

.loginmsg button,
.signupmsg button {
  background: linear-gradient(to right, #355c7d, #6c5b7b, #c06c84);
  border: 1px solid white;
  border-radius: 15px;
  color:white;
  font-size: 15px;
  box-sizing: content-box;
  font-weight: 600;
  padding:10px;
  margin-top: 20px;
  cursor: pointer;
}

.loginmsg button,
.signupmsg button:focus {
  outline: none;
}

/*Front box styling*/

.login, .signup{
  padding: 20px;
  text-align: center;
}

.login h2,
.signup h2 {
  color: rgb(6, 81, 143);
  font-size:22px;
}

.inputbox{
  margin-top:30px; 
}

.login input, 
.signup input {
  display: block;
  width: 100%;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.404);
  border: none;
  margin-bottom:20px;
  font-size: 12px;
  border-radius: 15px;
  padding-left: 10px;
  color: black;
}

.login input, 
.signup input:focus {
  outline: none;
}

.login button,
.signup button{
  background: linear-gradient(to right, #50C9C3, #96DEDA);
  border: none;
  color:black;
  font-size: 12px;
  font-weight: 500;
  box-sizing: content-box;
  padding:10px;
  border-radius: 10px;
  width: 60px;
  position: absolute;
  right:30px;
  bottom: 30px;
  cursor: pointer;
}

.login button,
.signup button:focus {
  outline: none;
}

/*Animations*/

.login p {
  cursor: pointer;
  color:#404040;
  font-size:15px;
}

.loginMsg, .signupMsg{
  /*opacity: 1;*/
  transition: opacity .8s ease-in-out;
}

.visible{
  opacity: 1;
}

.hide{
  display: none;
}

.move{
  right:45%;
}