.list-wrapper {
    padding: 15px;
    overflow: hidden;
    width: 100%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.list-item {
    padding: 1%;
    box-shadow: 1px 1px 10px 0 #000;
    height: 40%;
    margin: 8px;
    transition: all 0.2s ease;
}

.list-item:hover {
    transform: scale(1.01);
    box-shadow: 2px 2px 20px 0 #000;
}

.input-hidden {
    display: none;
}

input[type=radio]:checked + label>img {
    border: 1px solid #fff;
    box-shadow: 0 0 3px 3px rgb(8, 150, 8);
}  

.list-item img {
    width: 100%;
    height: 50%;
    /* object-fit: cover; */
}

.list-item .text {
    text-align: center;
}

.text h3 {
    font-size: 1rem;
}

.simple-pagination ul {
    padding: 0;
    list-style: none;
    text-align: center;
    margin-left: 1rem;
}

.simple-pagination li {
    display: inline-block;
    margin: 0.2%;
}

.simple-pagination li a, .simple-pagination li span {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: white;
    text-align: center;
    text-decoration: none;
    color: black;
    border-radius: 4px;
    margin: 5px;
    box-shadow: inset 0 5px 10px rgba(0,0,0,.1), 0, 20x 50x rgba(0,0,0,.5);
    transition: all 1s ease;
}

.simple-pagination li a:hover {
    background: black;
    color: white;
}

.simple-pagination .current {
    color: white;
    background: black;
    border: 1px solid white;
    cursor: pointer;  
}

.simple-pagination .prev.current, .simple-pagination .next.current {
    background: #222;
    border: none;
}